.container-contragents {
  background-color: #d5d5d3;
  width: 45vw;
  height: 95vh;

  margin: 0 auto;
  margin-top: 20px;
  padding: 50px 50px;
  border-radius: 2%;
}
.content-contragents {
  display: flex;
}
.list-contragents {
  margin-top: 30px;
}
