.container-history {
  background-color: #d5d5d3;
  width: 45vw;
  height: 95vh;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 2%;
}
.name-page-history {
  display: flex;
  justify-content: space-between;
}
.container-transactions {
  width: 45vw;
  height: 85vh;
  overflow: auto;
}
.container-transaction {
  width: 500px;
  background-color: #fff;
  border: 2px solid rgb(28, 27, 27);
  border-radius: 10px;

  margin-top: 20px;
  padding: 10px;
}
